@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:300,500');

html {font-size: 	16px}
html,body {height: 100%; padding: 0; margin: 0;}
body {font-size: 21px; font-family: 'Roboto', sans-serif; color: #fff; font-weight:300; }

/*
==============
 TYPO
==============
*/
h1,h2,h3 {font-family: 'Oswald', sans-serif; text-transform: uppercase; font-weight: 400; }
h2 {font-size: 5em; /* 70/14 */ color: #fff; line-height: 0.95em; display: block; margin: 0; letter-spacing: -2px; }
h3 {font-size: 2.5714285714285716em; /* 36/14 */ line-height: 1em; margin: 10px 0; color: #0cf}
h5 {
    margin: 0 auto;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}
h5 span {color:#0cf ;} 
article p  {color: #0cf; line-height: 1.2857142857142858em; font-weight: 300; text-transform: none; margin: 0; }

a {color: #fff; text-decoration: none; text-transform: uppercase; -webkit-transition: color .3s ease; -o-transition: color .3s ease; transition: color .3s ease; }
a:hover {color: #fff}
/*
==============
 Elements
==============
*/

.logo {position: absolute; top: 20px; left: 20px; height: 80px; z-index: 1000 }
.logo h4 {font-size: 16px; float: right; padding-left: 10px; text-transform: uppercase; line-height: 1.2em; font-family: 'Oswald'; font-weight: 400
	-webkit-transform: translateY(-80px);
	-ms-transform: translateY(-80px);
	-o-transform: translateY(-80px);
	transform: translateY(-80px);
	}

svg#besmurf-logo2 {
    width: 90px;
    height: 110px;
    margin-bottom: 1.2rem;
}

/*
==============
 Form // Button
==============
*/

.btn {display: inline-block; padding: 0.5em 1em; border: 1px solid #0cf; margin: 1.0714285714285714em 0; } 
.back {font-size: 0.8em; margin: 1em 0 0 0; cursor: pointer; padding: 0.5em 0; }

input,select {
	display: block;
	width: 80%;
	margin: 0.6em 0;
	font-size: 1em;
	padding: 1em ;
	 border: 1px solid #0cf;
	background: none;
	color: #0cf;
}

button {
	border: 1px solid #0cf;
	display: inline-block;
	background: none;
	font-size: 1em;
	padding: 1em ;
	color: #0cf;
	text-transform: uppercase;
}

/*
==============
 Wireframe
==============
*/
section {
	display: block;
	height: 100%;
	position: relative;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQIW2NgY2OzYUACYL6+vn4UsgAynwwBEB8ARuIGpsZxGOoAAAAASUVORK5CYII=);
	background-color: rgba(15, 26, 31, 0.90);
}

.event {
    text-align: center;
    padding: 1rem 0;
    display: block;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 0.75em;
    padding: 0 20px;
    color: #ccc !important;
    box-sizing: border-box;
    opacity: 0.8;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

footer:hover {opacity: 1; padding-bottom: 10px }
/*
================
Countdown
================ */
.countdown {
display: block;
list-style-type: none;
text-align: center;
margin: 0 auto;
padding: 40px 0 20px 0;
font-family: 'Roboto'
}
.countdown li {
padding: 5px 1rem;
display: inline-block;
margin-right: 1rem;
}
.countdown li:last-child {margin-right: 0}
.countdown {font-weight: 700}
.countdown p {font-size: 36px; display: block; margin: 0; line-height: 26px; text-align: center; font-family: 'Roboto'}
.countdown em {color:#fff; font-size: 1.2rem; text-transform: uppercase; font-weight: 300; padding-top: 10px}
.countdown span {color:#0cf}
/*
==============
 Helpers
==============
*/
.left {float:left;}
.right{float:right;}
.active {display: block}

.clearfix:before,
.clearfix:after {content: " "; /* 1 */ display: table; /* 2 */ }
.clearfix:after {clear: both; }

::-webkit-input-placeholder {color: #fff; }
:-moz-placeholder { /* Firefox 18- */ color: #fff; }
::-moz-placeholder {  /* Firefox 19+ */ color: #fff; }
:-ms-input-placeholder {color: #fff; }


.logo:hover span {color: #0cf }
.logo:hover path.logo-inner {fill:#00CCFF !important; }
#besmurf-logo2  > .logo-inner  {
	-webkit-animation: bluefill 5s cubic-bezier(0.65, -0.01, 0, 0.99)  1;
	animation-delay: 2s;
	fill:#ffffff;
	animation-fill-mode:forwards;
	 }


.trs1 {-webkit-transition: all 1s cubic-bezier(1, -0.11, 0.25, 1); -o-transition: all 1s cubic-bezier(1, -0.11, 0.25, 1); transition: all 1s cubic-bezier(1, -0.11, 0.25, 1); }
.del4 {transition-delay: .4s;}
.del6 {transition-delay: .6s;}

.logo h4 {
	-webkit-animation: logointro 3s cubic-bezier(0.65, -0.01, 0, 0.99)  1;
	-o-animation: logointro 3s cubic-bezier(0.65, -0.01, 0, 0.99)  1;
	animation: logointro 3s cubic-bezier(0.65, -0.01, 0, 0.99)  1;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
	animation-fill-mode:forwards;
}

svg#besmurf-logo {
	-webkit-transform: translateX(-70px);
	-ms-transform: translateX(-70px);
	-o-transform: translateX(-70px);
	transform: translateX(-70px);
	-webkit-animation: logoturm 3s cubic-bezier(0.65, -0.01, 0, 0.99)  1;
	-o-animation: logoturm 3s cubic-bezier(0.65, -0.01, 0, 0.99)  1;
	animation: logoturm 3s cubic-bezier(0.65, -0.01, 0, 0.99)  1;
	-webkit-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
	animation-fill-mode:forwards;
}

@-webkit-keyframes logointro {
	from { transform:translateY(-75px); }
	to { transform:translateY(-4px); }
}
@-o-keyframes logointro {
	from { transform:translateY(-75px); }
	to { transform:translateY(-4px); }
}
@-moz-keyframes logointro {
	from { transform:translateY(-75px); }
	to { transform:translateY(-4px); }
}
@keyframes logointro {
	from { transform:translateY(-75px); }
	to { transform:translateY(-4px); }
}

@-webkit-keyframes logoturm {
	from { transform:translateX(-75px); }
	to { transform:translateX(-4px); }
}
@-o-keyframes logoturm {
	from { transform:translateX(-75px); }
	to { transform:translateX(-4px); }
}
@-moz-keyframes logoturm {
	from { transform:translateX(-75px); }
	to { transform:translateX(-4px); }
}
@keyframes logoturm {
	from { transform:translateX(-75px); }
	to { transform:translateX(-4px); }
}

@keyframes bluefill {
	from { fill:#ffffff;  }
	to { fill:#00CCFF; }
}

.fadeIn {
	opacity: 0;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-animation: fadeIn 3s cubic-bezier(0.65, 0, 0, 0.99)  1;
	-o-animation: fadeIn 3s cubic-bezier(0.65, 0, 0, 0.99)  1;
	animation: fadeIn 3s cubic-bezier(0.65, 0, 0, 0.99)  1;
	-webkit-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
	animation-fill-mode:forwards;
}
.delay2 {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
	
}

@-webkit-keyframes fadeIn {
	from { transform:translateY(20px); opacity: 0 }
	to { transform:translateY(0px); opacity: 1; }
}
@-o-keyframes fadeIn {
	from { transform:translateY(20px); opacity: 0 }
	to { transform:translateY(0px); opacity: 1; }
}
@-moz-keyframes fadeIn {
	from { transform:translateY(20px); opacity: 0 }
	to { transform:translateY(0px); opacity: 1; }
}
@keyframes fadeIn {
	from { transform:translateY(20px); opacity: 0 }
	to { transform:translateY(0px); opacity: 1; }
}



/*
==============
 Mobile
==============
*/
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	body, html {font-size: 14px }
	h2 			{font-size: 4rem}
	h3 			{font-size: 2.5rem}
	article 	{width: 90% ; bottom: 2% !important }
	footer 		{opacity: 1}
	.logo 		{top:10px; left: 10px; zoom:0.7; }
	.logo h4 	{font-size: 14px; margin-top: 22px; padding-left: 5px}
	h5 			{font-size: 1rem; font-weight: 400; }
	section 	{background-size: initial;; }
	.countdown li {padding: 0}
	svg#besmurf-logo2 {width: 85px; width: 85px; } 
	section  {
		background: url(mobile_bg_2.jpg) center center no-repeat;
		background-size: cover;
	}
	section:before {
		content: '';
		width: 100%;
		height: 100%;
background: repeating-linear-gradient(
  30deg,
  rgba(0, 100, 155, 0.3),
  rgba(0, 204, 255, 0.3) 1px,
  rgba(9, 33, 46, 0.25) 1px,
  rgba(9, 33, 46, 0.25) 30px
);
		position: absolute;
	}
}
@media screen and (max-height: 520px) and (orientation: landscape) {
		svg#besmurf-logo2 {display: none}
		h2 {font-size: 2.1rem;}
		h3 {font-size: 1.5rem }
		h5 {font-size: 1rem}
		p  {margin: 5px 0;}
		.countdown { padding-top: 10px !important }
		.countdown p {font-size: 1.5rem; }
		.countdown em {font-size: 0.9rem}
	}

@media screen and (max-device-width: 640px) and (orientation: landscape){
  body 		{font-size: 12px}
  h2 		{font-size: 3em}
  h3 		{font-size: 2.4em}
  article 	{width: 90%; bottom: 2% !important; right: 0; left: 3%;}
  .logo		{top: 3%; right: 3%; left: inherit;}
   }

@media (min-width: 1280px) {
	svg#besmurf-logo2 {height: 180px; margin-bottom: 1.2rem; width: auto; }
}

@media (max-height: 720px ) {
	h5 	{margin-top: 10px;}
	p 	{font-size: 14px; margin: 5px 0; }
	.countdown {padding: 30px 0 0 0; }
	svg#besmurf-logo2 {width: auto; height: 135px; margin-top: 20px } 
}
